
<div class="card text-center">
  <div class="card-header">
    <h2> Lets Play! </h2>
  </div>
  <div class="card-body">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter a frequency"  [(ngModel)]="frequency" (keyup)="enterFrequency()">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">Enter a Frequency</button>
      </div>
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter a number"  [(ngModel)]="gameNumber" (keyup)="resume()">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">Enter a Number</button>
      </div>
    </div>
  </div>
</div>
